<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Titre du docment</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header"/>

<table class="table">
    <thead>
    <tr class="table-dark">

        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Poste</th>
        <th scope="col">Email</th>
        <th scope="col">Num</th>
        <th scope="col">Salaire</th>

    </tr>
    </thead>

    <tbody>
    <th:block th:each="employee : ${employees}">
        <tr class="table-bordered">
            <td th:text="${employee.name}">Nom</td>
            <td th:text="${employee.prenom}">Prenom</td>
            <td th:text="${employee.poste}">Poste</td>
            <td th:text="${employee.email}">Email</td>
            <td th:text="${employee.num}">Num</td>
            <td th:text="${employee.salaire}">Salaire</td>
            <td><a th:href="@{/modifier/{id}(id=${employee.id})}" class="btn btn-success">Modifier</a>
                <a th:href="@{/supp/{id}(id=${employee.id})}" class="btn btn-danger">Supprimer</a></td>
        </tr>
    </th:block>

    </tbody>
    </table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>