<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Titre du document</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <h2 class="mt-4 mb-4">Modifier l'employees  </h2>

    <form action="#" th:action="@{/ajouter}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" name="nom" th:value="${employee.name}" required>
        </div>

        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" class="form-control" id="prenom" name="prenom" th:value="${employee.prenom}" required>
        </div>

        <div class="form-group">
            <label for="poste">Poste :</label>
            <input type="text" class="form-control" id="poste" name="poste" th:value="${employee.poste}" required>
        </div>

        <div class="form-group">
            <label for="num">Numéro de Telephone :</label>
            <input type="text" class="form-control" id="num" name="num" th:value="${employee.num}" required>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email" name="email"th:value="${employee.email}" required>
        </div>

        <div class="form-group">
            <label for="salaire">Salaire :</label>
            <input type="text" class="form-control" id="salaire" name="salaire" th:value="${employee.name}" required>
        </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>